# <CHANGE_THIS> Microservice

This microservice will be triggered when it receives a message from the incoming SQS queue that is subscribed to the Solutions Orchestrator.

This microservice will handle the following incoming data and publish to it's respective SNS topic '<CHANGE_THIS>'.

<CHANGE_THIS>
